@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  position: absolute;
  top: 0;
  z-index: 20;
}

.vinil img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.input1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastrar {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: black;
  margin-top: 1rem;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fechar img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: 0;
  top: 0;
}
