@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ma+Shan+Zheng&family=Mina:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.container {
  width: 100vw;
  height: fit-content;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  bottom: 4rem;
}

.containerfilho {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0px;
}

.enviar {
  width: 140px;
  height: 40px;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: black;
  margin-top: 1rem;
  border: none;
}

.textarea1 {
  width: 90vw;
  height: 25vh;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 0.5rem;
}
